<article class="col-sm-4">

					<div class="d2">
						<img class="portada" src="img2/sod.jpg" alt="Foto del álbum">
						<div class="caption">
							<div class="page-header">
								<h5 class="musica">Symphony of destruction</h5>
							</div>
							<dl class="dl-horizontal">
								<dt>Artista:</dt><dd class="artista">Megadeth</dd>
								<dt>Genero:</dt><dd class="genero">Rock</dd>
								<dt>Año:</dt><dd class="anho">1976</dd>
							</dl>
							<div class="reproductor">
								<audio class="audio" src="msc/sod.mp3" controls></audio>
							</div>
						</div>
					</div>
					
				</article>
